* {
  font-family: sans-serif;
}

img {
  width: 75px;
  height: 100px;
  object-fit: cover;
  border-radius: 1em;
}

body,
table {
  text-align: center;
  margin: 0 auto;
}

h1 {
  padding-top: 1em;
  width: 200px;
  margin: 0 auto;
}

table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  margin-top: 2em;
}
table thead td {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: center;
}
table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
  font-size: 18px;
}

button {
  background-color: #3d8d8d;
  color: white;
  padding: 0.4em;
  border: none;
  border-radius: 0.4em;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.buttons button {
  margin-left: 1em;
}

button:hover {
  background-color: #76cbcb;
}

.sortBtn {
  cursor: pointer;
  text-decoration: underline;
}

.sortBtn:hover {
  color: #76cbcb;
}
